@import './base.css';

html, body, #app {
    width: 100%;
    height: 100%;
}

body {
    background-image: linear-gradient(45deg, rgba(37, 150, 190, 0.5) 0%, rgba(130, 175, 34, 0.5) 100%);
}

#app {
    /*background-image: url("https://img.freepik.com/fotos-gratis/a-chuva-de-fundo-cai-de-perto_23-2148900868.jpg?w=1500&t=st=1683376959~exp=1683377559~hmac=759bd3ebd24cf7e5844e0394da87738f3ebcfe002351c133929c780ce8881eb0");*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}